
# This file is a part of Simple-XX/SimpleGameEngine
# (https://github.com/Simple-XX/SimpleGameEngine).
#
# .gitignore for Simple-XX/SimpleGameEngine.

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.o
.DS_Store
build
cmake-build*
.gdbinit
.vscode
.idea
3rd
Doxyfile
src/include/config.h
